* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient( 135deg,#ff0000 0% , rgb(0, 0, 0) 100%);
    min-height: 100vh;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.form-container {
    background-color: #f5d6d6;
    border: 2px solid #f30808;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 2px 10px rgba(8, 7, 7, 0.1);
}

#taskInput {
    padding: 12px 15px;
    border: 2px solid #f50a0a;
    border-radius: 15px;
    font-size: 16px;
    outline: none;
}

#taskInput:focus {
    border-color: #f71505;
}

#taskStatus {
    padding: 12px 15px;
    border: 2px solid #fc0606;
    border-radius: 15px;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    outline: none;
}
#taskStatus:hover {
    border-color: #ef5e5e;
    background-color: #f4d7d7;
}
#taskStatus:focus {
    border-color: #ea5353;
    outline: none;
}

#addButton {
    padding: 12px 25px;
    background-color: #853636;
    color: rgb(255, 255, 255);
    border: 3px solid  #6d1c1c;
    border-radius: 20 px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

#addButton:hover {
    background-color: #c45656;
}

#addButton:active {
    transform: scale(0.98);
}

.tasks-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.task-card {
    padding: 20px;
    border-radius: 12px;
    border: 2px solid #f30303;
    box-shadow: 0 2px 5px rgba(3, 3, 3, 0.1);
    transition: transform 0.2s;
}

.task-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.task-card.pendiente {
    background-color: #71d5f7;
}

.task-card.en-proceso {
    background-color: #e9e985;
}

.task-card.finalizada {
    background-color: #70f770;
}

.task-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #444343;
}

.task-status {
    font-size: 14px;
    color: #000000;
    font-weight: 500;
}